{% extends 'index.html' %}
{% load staticfiles %}
{% block right-content-container %}
<head lang="en">
	<meta charset="UTF-8">
	 <!-- 引入jQuery -->
	<!--<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>-->
	<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	 <!-- 引入 Bootstrap -->
	 <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	 <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>


	<script type="text/javascript">
	 $(function() {
           $("#checkAll").click(function() {
			//不知为何$('input[name="subBox"]').attr("checked",this.checked);不行
				var allvalue = document.getElementsByName('subBox');
				 for (var i = 0; i < allvalue.length; i++) {
					if (allvalue[i].type == "checkbox")
						allvalue[i].checked = this.checked;  //遍历所有subBox，设置为主checkbox属性
					}
            });
            var $subBox = $("input[name='subBox']");
            $subBox.click(function(){//当点击subBox时，将主checkbox设置为false（通过检测是否全选）
                $("#checkAll").attr("checked",$subBox.length == $("input[name='subBox']:checked").length ? true : false);
            });
        });
	function GetCkboxValues() {
		var arr = new Array() //通过数组列表保存所有用户id，实现批量删除功能
	   $("input:checkbox:checked").each(function () {
			arr.push($(this).val())
	   })
	   if (arr == ""){//没有选择的条件下做出弹窗提示
			alert("Please select at least one item ")
	   }
	   $.ajax({ //ajax实现GET方式动态加载，为啥POST不行？
		   type: "GET",
           url: "/delSelect",
           data: "arr="+arr,
           success: function(msg){
			//通过模拟点击查询按钮，刷新当前页面
			   $("#search").click()
        }
    });
  };

 function export_excel() {
           $.ajax({
		   type: "GET",
           url: "/exportall",
           success: function(msg){
           data = JSON.parse(msg);
           if(!data.status){
             alert('导出失败');
             }
           else{
             <!--alert(data.status)-->
              window.location.href = data.download_url;
               }
           }
    });
 }

</script>

    <title>数据展示平台</title>
	
</head>


<style>
<!-- 设置table内容居中 -->
 .table th, .table td {
                text-align: center;
}

</style>


<body>
<p></p>
<!-- 以Bootstrap3为模板 构建前台界面 -->
 <div class="container">
<form action="/search" method="get" role="form">
 <div class="form-inline">
  <label class="control-label">主机名: &nbsp</label><input class="form-control" type="text" name="q" placeholder="hostname ip"/>
  <input type="submit" id="search" value="查询" class="btn btn-default "/>
  &nbsp&nbsp<a href="/add" class="btn btn-primary">添加</a>
  &nbsp&nbsp&nbsp<a onclick="GetCkboxValues()" class="btn btn-danger">批量删除</a>
	 <button onclick="export_excel()" type="button" class="btn btn-primary">导出excel</button>
  </div>
</form>



<p></p>
<table class="table table-bordered form-inline" align="center" width="100%">
<caption></caption>
<thead >
	<tr>
	<th>
		<div class="checkbox ">
		<label>
			<input type="checkbox" id="checkAll" value="">
		</label>
		</div>
	</th>
	<!--<th>主机名</th>  <th>IP地址</th> <th>省份</th> <th>城市</th> <th>运营商</th> <th>代理商</th> <th>VIP</th> <th>常用操作</th>-->
		{% for name in field_name %}
		   <th>{{ name }}</th>
		{% endfor %}
		<th>操作</th>

	</tr>
</thead>
<tbody >
{%  for d in data %}
<!-- 显示不同背景 -->
<tr {% if forloop.counter|divisibleby:"2"  %} class="active" 
	{% else %} class="success"  {% endif %}  > 
 <td>
    <input type="checkbox" name="subBox" value="{{d.id}}" >
</td>

 <td>{{ d.name }}</td>
 <td>{{ d.ip_address }}</td>
 <td>{{ d.v6 }}</td>
 <td>{{ d.province }}</td>
 <td>{{ d.city }}</td>
 <td>{{ d.isp }}</td>
 <td>{{ d.machineagent }}</td>
 <td>{{ d.vip}}</td>
 <td>{{ d.content}}</td>
 <td>&nbsp<a href="/delete?id={{ d.id }}" class="text-danger">删除</a>&nbsp&nbsp<a href="/update?id={{d.id}}">修改</a> </td>
 </tr>
{% endfor %}
</tbody>

</table>
<!-- 页面导航栏 -->
 <p>
	{% if data.has_previous %}
		<a href="?page={{ data.previous_page_number }}">上一页</a>
	{% endif %}
		{# data.paginator.number_pages 返回总页数 #}
	       {#第{{ data.number }}页 | 共{{ data.paginator.num_pages }}页#}

                <span>
                    {% for p in page_range %}
                    {% ifequal p data.number %}
                       <span class="current">{{p}}</span>
                    {% else %}
                        <a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
                    {% endifequal %}
                    {% endfor %}
                    </span>


	{% if data.has_next %}
		<a href="?page={{ data.next_page_number }}">下一页</a>
	{% endif %}
        共{{ data.paginator.num_pages }}页
</p>

</div>


{% endblock %}

